workspaces/[Sameka] Sub-fluxo_ Consultar Planilha Imagens de Produtos.json
{
  "name": "[Sameka] Sub-fluxo: Consultar Planilha Imagens de Produtos",
  "nodes": [
    {
      "parameters": {},
      "id": "508c7d91-3d6e-4e20-b004-e3196b15625a",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [-16, 464]
    },
    {
      "parameters": {
        "content": "## 🛠️ Configuração da Pesquisa Inteligente:\n\n1. Clique no nó **Google Sheets** e coloque a sua credencial e selecione o ficheiro correto na opção \"Document\".\n2. Note que a opção \"Sheet\" (Separador) tem uma expressão `={{ $json.nome_do_separador }}`. Isto significa que o Agente é que decide qual aba abrir com base na pergunta do utilizador!\n3. O nó de **Código** vai procurar na folha inteira apenas as linhas que correspondam ao que o Agente quer saber, devolvendo um resumo limpo.",
        "height": 240,
        "width": 640,
        "color": 6
      },
      "id": "79473e18-d6e0-4ecb-a602-6f5c32341492",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cf6c4293-2782-4113-a4f6-5a41dfa70ec8",
              "leftValue": "={{ $json.nome_do_separador }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              }
            },
            {
              "id": "36e27d2b-6c0a-4727-80b1-9486833bcd58",
              "leftValue": "={{ $json.query }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "97c2ef48-fb29-4ba3-97b7-2508ecbef2d0",
      "name": "Tem nome da aba?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [208, 464]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Dn-pOB7xL5DFHyaiWPo33nXLb6e9LUslAWOr_oTdw5c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.query }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "2a770abd-2e1e-49b9-ac41-1313131311d0",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [464, 320],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y2LZELFEeUCjAV5U",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1Dn-pOB7xL5DFHyaiWPo33nXLb6e9LUslAWOr_oTdw5c?fields=sheets.properties.title",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "3914239d-1299-45cd-b0b5-eacfdaa1c1f9",
      "name": "Listar Abas API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [464, 608],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y2LZELFEeUCjAV5U",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const abas = $input.first().json.sheets.map(s => s.properties.title);\nreturn [{\n  json: {\n    aviso_para_a_ia: \"Você não especificou o nome da aba. Aqui estão as abas disponíveis. Chame esta ferramenta novamente usando um destes nomes no parâmetro 'nome_do_separador'.\",\n    abas_disponiveis: abas\n  }\n}];"
      },
      "id": "a7f9b57e-2e9d-4161-bec3-c7de6a2ec5d4",
      "name": "Formatar Lista de Abas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [688, 608]
    },
    {
      "parameters": {
        "jsCode": "// Recebe o termo de pesquisa enviado pelo Agente de IA\nconst triggerData = $('Execute Workflow Trigger').first().json || {};\nconst termoBusca = (triggerData.termo_de_pesquisa || '').toLowerCase().trim();\nconst nomeAba = triggerData.nome_do_separador || triggerData.query || '';\n\nconst todasLinhas = $input.all();\n\n// Palavras genéricas que a IA costuma inventar. Se ela mandar isso, ignoramos o filtro.\nconst termosGenericos = ['todos', 'todas', 'all', 'análise', 'analise', 'geral', 'relatório', 'relatorio', 'catalogo', 'catálogo'];\n\n// Normaliza: minúsculo + remove acentos. Deixa a busca tolerante a acentuação.\nfunction norm(s) {\n  return String(s || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '');\n}\n\n// Distância de edição (Levenshtein) — usada para casar variações de 1 letra\n// como 'lilika' (usuário) vs 'lilica' (planilha).\nfunction lev(a, b) {\n  const m = a.length, n = b.length;\n  if (Math.abs(m - n) > 1) return 2; // só nos importa <= 1\n  const dp = Array.from({ length: m + 1 }, () => new Array(n + 1).fill(0));\n  for (let i = 0; i <= m; i++) dp[i][0] = i;\n  for (let j = 0; j <= n; j++) dp[0][j] = j;\n  for (let i = 1; i <= m; i++) {\n    for (let j = 1; j <= n; j++) {\n      const cost = a[i - 1] === b[j - 1] ? 0 : 1;\n      dp[i][j] = Math.min(dp[i - 1][j] + 1, dp[i][j - 1] + 1, dp[i - 1][j - 1] + cost);\n    }\n  }\n  return dp[m][n];\n}\n\n// Um termo casa uma linha se: (substring exata normalizada) OU\n// (alguma palavra da linha com >=4 letras está a 1 edição do termo).\nfunction termoCasaLinha(termo, linhaTextoNorm, palavrasLinha) {\n  if (linhaTextoNorm.includes(termo)) return true;\n  if (termo.length < 4) return false;\n  for (const w of palavrasLinha) {\n    if (w.length >= 4 && lev(termo, w) <= 1) return true;\n  }\n  return false;\n}\n\n// Helper: envelope padrão {ok,data,error}. Garante que o n8n NUNCA receba array vazio\n// (que pararia a execução com 'No output data returned').\nfunction envelope(ok, items, msg) {\n  return [{\n    json: {\n      ok,\n      aba: nomeAba,\n      termo_pesquisado: termoBusca || null,\n      total: items.length,\n      linhas: items.map(i => i.json),\n      mensagem: msg || null\n    }\n  }];\n}\n\n// Caso 1: planilha vazia ou aba inexistente\nif (todasLinhas.length === 0) {\n  return envelope(false, [], `Nenhuma linha encontrada na aba '${nomeAba}'. Confira o nome.`);\n}\n\n// Caso 2: sem termo ou termo genérico → amostra das últimas 150 linhas\nif (!termoBusca || termosGenericos.includes(termoBusca)) {\n  const amostra = todasLinhas.slice(-150);\n  return envelope(true, amostra, 'Termo genérico ou vazio — devolvendo amostra.');\n}\n\n// Pré-computa texto normalizado e palavras de cada linha.\nconst linhasIndex = todasLinhas.map(item => {\n  const texto = norm(JSON.stringify(item.json));\n  return { item, texto, palavras: texto.split(/[^a-z0-9]+/).filter(Boolean) };\n});\n\n// Caso 3: filtro por termo (múltiplas palavras separadas por espaço — AND, com fuzzy)\nconst termos = norm(termoBusca).split(/\\s+/).filter(Boolean);\nlet usouFuzzy = false;\nconst resultados = [];\nfor (const L of linhasIndex) {\n  const casaTudo = termos.every(t => {\n    const exato = L.texto.includes(t);\n    if (exato) return true;\n    if (t.length >= 4 && L.palavras.some(w => w.length >= 4 && lev(t, w) <= 1)) {\n      usouFuzzy = true;\n      return true;\n    }\n    return false;\n  });\n  if (casaTudo) resultados.push(L.item);\n}\n\nif (resultados.length > 0) {\n  const msg = usouFuzzy\n    ? `Busca aproximada (o termo '${termoBusca}' pode ter variação de grafia na planilha).`\n    : null;\n  return envelope(true, resultados.slice(0, 100), msg);\n}\n\n// Caso 4: AND não bateu — tenta OR (qualquer termo, exato ou fuzzy) como rede de segurança\nconst resultadosOr = [];\nfor (const L of linhasIndex) {\n  const casaAlgum = termos.some(t => termoCasaLinha(t, L.texto, L.palavras));\n  if (casaAlgum) resultadosOr.push(L.item);\n}\nif (resultadosOr.length > 0) {\n  return envelope(true, resultadosOr.slice(0, 100), `Sem correspondência exata para '${termoBusca}'. Devolvendo aproximações por termo.`);\n}\n\n// Caso 5: nada bateu — envelope vazio mas VÁLIDO (não quebra o fluxo)\nreturn envelope(true, [], `Nenhuma linha contém '${termoBusca}' na aba '${nomeAba}'. Tente outro termo (ex: marca sem o sufixo, ou nome do modelo) ou peça a amostra (termo vazio).`);"
      },
      "id": "06b932f5-32a1-4071-a964-39357ddefbb4",
      "name": "Filtrar Resultados para a IA1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [688, 320]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Tem nome da aba?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem nome da aba?": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Listar Abas API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Filtrar Resultados para a IA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Abas API": {
      "main": [
        [
          {
            "node": "Formatar Lista de Abas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9bd41e47-e072-45bd-9ddd-a01aa01da98d",
  "meta": {
    "instanceId": "03d32a206f2d8840fce482e6c587726f18775bd9177e9401c00ca76d3086ad41"
  },
  "id": "qsT7Gk15ARgTkh7H",
  "tags": []
}
